<h3>Station Analytics</h3>

<p>Total station count: <%= @stations.count %></p>
<p>Average bikes per station: <%= @stations.avg_bikes_per_station %></p>
<p>Most bikes available at a station: <%= @stations.most_bikes_available.dock_count %></p>
<p>Station with most bikes available: <%= @stations.most_bikes_available.name %></p>
