<div class="text-box">
  <h3>Welcome <%= @user.username %></h3>

  <p>Profile Information</p>
  <p>Username: <%= @user.username %></p>
  <p>Email: <%= @user.email %></p>

  <% unless @user.orders.nil? %>
    <% @user.orders.each do |order| %>
      <p><%= link_to "Order #{order.id}", order_path(order) %></p>
    <% end %>
  <% end  %>
</div>
