<div class="profile-info">
  <h3>Welcome, <%= @user.username.capitalize %></h3>

  <p>Profile Information</p>
  <p>Username: <%= @user.username %></p>
  <p>Email: <%= @user.email %></p>
  <% unless @user.orders.empty? %>
  <div class="orders-header">Your Orders:</div>
      <div class="orders">
        <% @user.orders.each do |order| %>
          <%= link_to "Order #{order.id}", order_path(order) %>
        <% end %>
      </div>
  <% end  %>
</div>
