<div class="dashboard">
  <h3>Welcome <%= @user.username %></h3>

  <p>Profile Information</p>
  <p>Username: <%= @user.username %></p>
  <p>Email: <%= @user.email %></p>

  <% unless @user.orders.nil? %>
      <div class="orders">Your Orders:</div>
      <div class="orders">
        <% @user.orders.each do |order| %>
          <p><%= link_to "Order #{order.id}", order_path(order) %></p>
        <% end %>
      </div>

  <% end  %>
</div>
