<h3>Accessories in your cart</h3>

<div class="show-accessories">
  <% @accessories.each do |accessory| %>
    <%= accessory.name %>
    <%= accessory.price %>
    <%= button_to "remove", carts_path(accessory_id: accessory.id), method: :delete %>
  <% end %>
</div>
