@import 'font-awesome';
$citrus-pulp: #edffa5;
$cloudy-blue: #a6bfe0;
$teal-fridge: #6beadb;

body {
  font-family: 'Raleway', sans-serif;  margin: 0px;
  text-decoration: none;
}

a {
  color: black;
  font-weight: bold;
  &:hover {color: $teal-fridge;}
  text-decoration: none;
}

.flash {
  position: absolute;
  margin-left: 15px;
  padding: 15px;
  opacity: 0;
  animation-name: fade;
  animation-duration: 5s;
  &:hover {cursor: default;}
}

.site-banner {
  font-size: 16px;
  width: 100vw;
  height: 70px;
  background-color: $cloudy-blue;
  opacity: .9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  a {margin: 0px 10px}
  .logo {
    margin-left: 30px;
    display: flex;
    align-items: center;
    h1 {
      display: inline;
      padding-top: 6px;
    }
    .bike-icon {
      font-size: 38px;
      margin-right: 15px;
    }
  }
  .access-options {
    margin-right: 30px;
    font-weight: bold;
  }
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 45px;
  background-color: $citrus-pulp;
  .dropdown {
    margin: 0px 15px;
  }
  .dropdown-content {
    display: none;
  }
  .dropdown:hover .dropdown-content {
    position: absolute;
    background-color: white;
    padding: 10px;
    display: block;
    z-index: 1;
  }
}

.application-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome {
  width: 100vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
