.stations-index {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .index-station {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px gray solid;
    border-radius: 10px;
    width: 350px;
    height: 100px;
    margin: 15px 30px;
    padding: 15px;
    .station-stats {
      font-size: 16px;
      margin: 2px;
      font-style: oblique;
    }
  }
}
