<h3>Welcome to Bike Shop - see accessories below</h3>

<% @accessories.each do |accessory| %>
  <%= accessory.name %>
  <%= accessory.price %>
  <%= image_tag(accessory.image_path, class: "accessory-image") %>
  <%= button_to "Add to cart", carts_path(accessory_id: accessory.id), id: 'add-to-cart' %>
<% end %>
