<nav>
  <div class="dropdown">
    <p>Stations</p>
      <div class="dropdown-content">
        <%= link_to "All Stations", stations_path %>
      </div>
  </div>
  <div class="dropdown">
    <p>Trips</p>
      <div class="dropdown-content">
        <%= link_to "All Stations", stations_path %>
      </div>
  </div>
  <div class="dropdown">
    <p>Conditions</p>
      <div class="dropdown-content">
        <%= link_to "All Stations", stations_path %>
      </div>
  </div>
</nav>
